.designeruniform {
    color: #978F8F;
    font: 18px courier;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.acecraft {
    color: #978F8F;
    font: 16px courier;
    margin:0px 0px 10.5px;
    letter-spacing: 2px;


}

@font-face {
  font-family: get ;
  src: url(./Fonts/Blenheim\ Signature\ v2.ttf);
}

#span{
  font-family: get;
}

.getintouch {
    width: 120px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:35px;
    margin-left:auto;
    margin-right:auto;
    margin-top: -11px;
    margin-bottom: 20px;

}
.getintouch:hover {
    background-color: black;
    border:none;
   }

.designcard {
    background-color: black;
    position:relative;
    width: 250px;
    height: 150px;
    box-shadow: 1px 2px 5px grey;
    margin-top:-800px;

}


.horizontal-line {
    display: flex;
    align-items: center;
  }
  
  .horizontal-line::before,
  .horizontal-line::after {
    content: "";
    flex-grow: 1;
    border-top: 1px solid #978F8F;
    margin: 0 10px;
    font-weight: 100;
    
  }
  
  .horizontal-line span {
    color: #978F8F;
    font: 16px  blenheim;
  }
  