.page1 {
    background-color: #e1e1e1;
    padding: 100px 0 250px 0;
}

@font-face {
    font-family: reg;
    src: url(./Fonts//ProximaNova-Regular.otf);
}

#p1,#p11 {
    font-family: reg;
    font-size: 32px;
    color: #000000;
    margin-right: 23px;
}

#p2,
#p3 {
    font-family: reg;
    font-size: 32px;
    color: #000000;
    font-weight: 700;
}

#cont1 {
    margin: 200px 0 0 0;
    margin-left: -30px; 
    line-height: 1.1;
}

#cont2 {
    margin: 140px 0 0 0;
    margin-left: 30px;
}



#textbox {
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 0%;
}

#btn1 {
    width: 200px;
    height: 36px;
    background-color: #000000;
    color: #FFFFFF;
    font: 15px reg;
    border: none;
    border-radius: 0%;
}

#p4 {
    font: 15px reg;
    color: #000;
}

#p4 a {
    text-decoration-line: none;
    color: #2196F3;
    cursor: pointer;
}

.modal-title {
    font-family: proxima;
    text-align: center;
    margin-left: 50px;
}


#firstname,
#lastname {
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

#email,
#org,
#phone,
#quan {
    font-size: 15px;
    font-weight: 600;
    color: #4d4d4d;
    
}

#firstname {
    margin-left: -11px;
}

#lastname {
    margin-left: 7px;
}

#choice {
    display: flex;
    margin-top: -8px;
}

#quantity1,
#quantity2,
#quantity3 {
    margin-top: -22px;
    margin-right: 5px;
    font-size: 15px;
    color: #4d4d4d;
}



#btn2 {
    width: 470px;
    border-radius: 100px;
}

.icons i {
    position: absolute;
}

.icon {
    margin-top: 30px;
    padding-right: 30px;
}