#img{
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
    padding-bottom: 400px;
    margin-top: 115px;
}


#honda{
    background-color: rgb(255, 255, 255);
    
    padding-right: 100px;
}

#img1{
    margin-left: 500px;
}