
/* home-img1 */

#home-img1{
    height: 653px;
    margin-top: 115px;
    width: 1341.5px;
    position: relative;
  }
  
  /* badge */
  
  #badge{
    color: rgb(105, 85, 85);
    background-color: #ccc5c5;
  }
  
  #nav:hover{
    color:beige !important;
    font-weight: bolder;
  
  }
  
  
  @font-face {
    font-family: logo-bold;
    src: url(/src/components/fonts/Fontspring-DEMO-proximanova-bold.otf);
  }
  #img-content-1{
    font-family:thin1;
    font-weight: 100;
    position: absolute;
   right: 30%;
   left: 45%;
   bottom: 1%;
   top:85%;
   padding-top: 12px;
   font-size: 19cap;
   color: #8f8585;
  }
  
  #img-content-2{
    position: absolute;
   right: 25%;
   left: 40%;
   bottom: 15%;
   top:95%;
   font-size:35px;
   font-family: logo-bold;
   border: solid;
   border-width: 0.01ch;
   padding-top: 50px;
   color: #9e9e9e;
   margin-right: 150px;
   margin-top: -60px;
   margin-bottom: -50px;
   padding-left: 12px;
   border-color: antiquewhite;
  }
  
  /* text over image div */
  
  #setting{
    width: 20px;
    margin-left: 70px;
    margin-top:12px;
  }
  
  #img-content-3{
    position: absolute;
   right: 25%;
   left: 43%;
   bottom: 15%;
   top: 115%;
   font-size:17px;
  
   padding-top: 50px;
   color: #f5f2f2;
   margin-right: 80px;
   margin-top: -60px;
   margin-bottom: -50px;
   padding-left: 15px;
  }
  
  @keyframes moveRight {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 2%;
      margin-right: 4%;
    }
  }
  #img-content-4{
    position: absolute;
   right: 25%;
   left: 58%;
   bottom: 15%;
   top: 116%;
   font-size:17px;
   font-weight: 900;
   animation: moveRight 0.8s linear infinite;
   padding-top: 50px;
   color: #f5f2f2;
   margin-right: 80px;
   margin-top: -62px;
   margin-bottom: -50px;
   padding-left: 15px;
  }
  
  #img-content-3:hover,#img-content-4:hover{
    color: rgb(7, 7, 7);
  }
  
  @font-face {
    font-family:thin1 ;
    src: url(/src/components/fonts/Fontspring-DEMO-proximanova-thin.otf);
  }
  #img-content-11{
    font-family:thin1;
    font-weight: 100;
    position: absolute;
   right: 30%;
   left: 43%;
   bottom: 1%;
   top:60%;
   font-size: 36px;
   color: #8f8585;
  }
  
  #img-content-7{
    position: absolute;
   right: 1%;
   left: 32%;
   bottom: 79%;
   margin-bottom: -35px;
   top:68%;
   font-size:33px;
   font-family: logo-bold;
   border: solid;
   border-width: 0.01ch;
   padding-top: 50px;
   color: #9e9e9e;
   margin-right: 150px;
   margin-top: -60px;
   padding-left: 55px;
   border-color: antiquewhite;
  }
  
  #img-content-8{
    position: absolute;
    right: 2%;
    left: 28%;
    bottom: 58%;
    margin-bottom: -15px;
    top:79%;
    font-size:18px;
    border-width: 0.01ch;
    padding-top: 50px;
    color: #ffffff;
    margin-right: 150px;
    margin-top: -60px;
    padding-left: 55px;
  }
  
  #img-content-10{
    position: absolute;
    right: 2%;
    left: 59%;
    bottom: 58%;
    margin-bottom: -15px;
    top:79%;
    font-size:18px;
    border-width: 0.01ch;
    padding-top: 50px;
    color: #ffffff;
    margin-right: 150px;
    margin-top: -55px;
    padding-left: 55px;
    animation: moveRight 0.8s linear infinite;
  }
  
  #img-content-12{
    position: absolute;
    right: 2%;
    left: 63.5%;
    bottom: 58%;
    margin-bottom: -15px;
    top:79%;
    font-size:18px;
    border-width: 0.01ch;
    padding-top: 50px;
    color: #ffffff;
    margin-right: 150px;
    margin-top: -55px;
    padding-left: 55px;
   animation: moveRight 0.8s linear infinite;
  }
  #img-content-8:hover,#img-content-10:hover,#img-content-12:hover{
    color: rgb(7, 7, 7);
  }
  
  
  #pad.card{
    padding: 7px;
  
    background-color: black;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 0%;
  }
  
  .card:hover .card-body {
    opacity: 1;
  }
  .card-body{
    margin-bottom: -220px;
  }
  #bg{
    border-top: none;
  
  }