.image-fixed{
    background-image: url('http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-1.jpg');
    background-position: center 122px;
    background-attachment: fixed;
    min-height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{

    margin-top: 130px;
    padding-left: 70.4px;
    padding-bottom:0px;
    padding-top: 10px;
    
}
#bg2{
    background-color: rgb(255, 255, 255);
}

